@keyframes animatedBgGoToEtapa2 {
	from { background-position: 0 0; }
	to { background-position: -250px 0; }
}
@keyframes animatedBgGoToEtapa3 {
	from { background-position: -250px 0; }
	to { background-position: -460px 0; }
}
@keyframes animatedBgGoToEtapa4 {
	from { background-position: -460px 0; }
	to { background-position: -630px 0; }
}
@keyframes animatedBgGoToEtapa5 {
	from { background-position: -630px 0; }
	to { background-position: -800px 0; }
}
@keyframes animatedBgBackToEtapa4 {
    from {background-position: -800px 0}
    to {background-position: -630px 0}
}
@keyframes animatedBgBackToEtapa3 {
    from {background-position: -630px 0}
    to {background-position: -460px 0}
}
@keyframes animatedBgBackToEtapa2 {
    from {background-position: -460px 0}
    to {background-position: -250px 0}
}
@keyframes animatedBgBackToEtapa1 {
    from {background-position: -250px 0}
    to {background-position: 0 0}
}

body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: #6c4a37;

    &:hover{
        color: #f0d264;
    }
}
.bg-opacity{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0.9;
}
.bn-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.buttons{
    width: 100%;
}
.bar-button{
    color: #fff;
}
.btn-atendimento{
    font-weight: 700;
    color: #6c4a37;
    border-radius: 10px;
}
.button-inner{
    font-size: 1.2rem;
}
.button-md{
    background: #f0d264 !important;   
}
.card{
    background: transparent;
}
.card-header{
    text-align: center;
    p{
        font-size: 1.7rem;
    }
}
.card-ios{
    background: transparent
}
.content-inside{
    background: url(../assets/imgs/background.jpg) repeat 0 0;
    background-size: cover;
}
.content-md hr{
    background-color: #d2cac4;
    border: none;
    width: 100%;
    margin-bottom: 30px;
}
.content-inside .card{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}
.default-text-color{
    color: #f0d264 !important;
}
.second-text-color{
    color: #6c4a37 !important;
}
.default-color{
    background: #f0d264 !important;
}
.eventos-home{
    width: 90px;
    height: 90px;
    padding: 10px;
    color: #6c4a37;
    background-blend-mode: screen;

    &.--amanha{
        background-color: #d6c9be;
    }
    &.--todos{
        background-color: #b5a393;
    }
}
.eventos-home .card-header{
    font-size: 3rem;
    padding: 0;
    font-weight: 700;
    color: #6c4a37;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    img{
        width: 20px;
    }
}
.eventos-home .card-content{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
    font-weight: 700;
}
.header:after{
    background-image: none;
}
.financeiro-card .card-content{
    padding-bottom: 10px;
}
.financeiro-card .financeiro-card__icon{
    width: 20px;
    float: left;
    margin-right: 10px;
}
.financeiro-card .financeiro-card__texto{
    color: #6c4a37;
    font-size: 1.8rem;
    text-align: right;
}
.financeiro-card span{
    font-weight: 700;
    color: #6c4a37;
}
.form-cadastro{
    background: url(../assets/imgs/bg-cadastro.jpg) no-repeat 0 0;
    background-size: cover;
    &.etapa-1{
        background-position: 0 0;
    }
    &.etapa-2{
        animation: animatedBgGoToEtapa2 2s linear;
        background-position: -250px 0;
    }
    &.etapa-3{
        animation: animatedBgGoToEtapa3 2s linear;
        background-position: -460px 0;
    }
    &.etapa-4{
        animation: animatedBgGoToEtapa4 2s linear;
        background-position: -630px 0;
    }
    &.etapa-5{
        animation: animatedBgGoToEtapa5 2s linear;
        background-position: -800px 0;
    }
    &.etapa-5__volta{
        animation: animatedBgBackToEtapa4 2s linear;
        background-position: -630px 0;
    }
    &.etapa-4__volta{
        animation: animatedBgBackToEtapa3 2s linear;
        background-position: -460px 0;
    }
    &.etapa-3__volta{
        animation: animatedBgBackToEtapa2 2s linear;
        background-position: -250px 0;
    }
    &.etapa-2__volta{
        animation: animatedBgBackToEtapa1 2s linear;
        background-position: 0 0;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .buttons__button{
            width: 50%;
            height: 30px;
        }
    }
    .card{
        .card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }
    .form-cadastro__etapa1{
        width: 90vw;
        position: absolute;
        top: 30%;
        left: 100%;
    }
    .form-cadastro__etapa2{
        position: absolute;
        top: 30%;
        left: 100%;
    }
    .form-cadastro__etapa3{
        position: absolute;
        top: 0;
        left: 100%;
    }
    .form-cadastro__etapa4{
        position: absolute;
        top: 0;
        left: 100%;
    }
    .form-cadastro__etapa5{
        position: absolute;
        top: 0;
        left: 100%;
    }
    .is-etapa1, .is-etapa2, .is-etapa3, .is-etapa4, .is-etapa5{
        left: 5vw;
        transition: left 2s;
    }
    .was-etapa1, .was-etapa2, .was-etapa3, .was-etapa4, .was-etapa5{
        left: -100%;
        transition: left 2s;
    }
    .back-form5, .back-form4, .back-form3, .back-form2, .back-form1{
        left: 5vw;
        transition: left 2s;
    }
    .go-etapa1, .go-etapa2, .go-etapa3, .go-etapa4, .go-etapa5{
        left: 100%;
        transition: left 2s;
    }

    h1{
        color: #fff;
    }
    .item{
        background-color: transparent;
        color: #fff;
    
        .item-cover:focus{
            background-color: transparent;
        }
        .radio-icon{
            border-color: #fff;
        }
    }
    .item.item-radio-checked{
        .label{
            color: #f0d264;
        } 
        .radio-icon{
            border-color: #f0d264;
        }
        .radio-inner{
            background-color: #f0d264;
        }
    }
    p{
        color: #fff;
    }
} 

.imagem-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff;
    margin-bottom: 50px;
}
.imagem-perfil__icon{
    position: absolute;
    top: 91px;
    right: 85px;
    border-radius: 50%;
    width: auto;
}
.imagem-perfil__icon .button-md{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.imagem-perfil__image{
    width: 150px;
    height: 150px;
}
.imagem-perfil__title{
    font-weight: 700;
    margin-top: 15px;
}
.input{
    margin-bottom: 20px
}
.link-cancelar-atendimento{
    margin: 0;
    text-align: center;
    width: 100%;
    color: #ec7939;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.login-box .midias-sociais{
    display: flex;
    flex-direction: row;
}
.login-box__midias{
    width: 42px;
    height: 42px;
    display: block;
}
.login-box__icon{
    margin-left: 10px;
}
.login-box__inputs{
    width: 100%;
}
.login-box__text{
    color: #a49288;
    margin-bottom: 0;
}
.nota-rodape{
    font-size: 1rem !important;
    margin-top: 10px !important;
}
.toolbar{
    text-align: center;
}
.toolbar-title{
    color: #fff;
}
.toolbar-background{
    border-color: transparent;
    background: transparent;
    box-shadow: 0 0 0 transparent;
}