//Primary color
$primary-color-600: #4a6572;
$primary-color-700: #344955;
$primary-color-800: #232f34;

//Secondary color
$secondary-color-500: #f9aa33;

@keyframes animatedBgGoToEtapa2 {
	from { background-position: 0 0; }
	to { background-position: -250px 0; }
}
@keyframes animatedBgGoToEtapa3 {
	from { background-position: -250px 0; }
	to { background-position: -460px 0; }
}
@keyframes animatedBgGoToEtapa4 {
	from { background-position: -460px 0; }
	to { background-position: -630px 0; }
}
@keyframes animatedBgGoToEtapa5 {
	from { background-position: -630px 0; }
	to { background-position: -750px 0; }
}
@keyframes animatedBgBackToEtapa4 {
    from {background-position: -750px 0}
    to {background-position: -630px 0}
}
@keyframes animatedBgBackToEtapa3 {
    from {background-position: -630px 0}
    to {background-position: -460px 0}
}
@keyframes animatedBgBackToEtapa2 {
    from {background-position: -460px 0}
    to {background-position: -250px 0}
}
@keyframes animatedBgBackToEtapa1 {
    from {background-position: -250px 0}
    to {background-position: 0 0}
}

body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: #000;

    &:hover{
        color: $secondary-color-500;
    }
}
.alert-md [aria-checked=true]{
    .alert-radio-label{
        color: #000;
    }
    .alert-radio-icon{
        border-color: #000;
    }
    
}
.alert-md{
    .alert-radio-inner{
        background-color: #000; 
    }
    .alert-button{
        color: #000;
    }
} 
.bg-opacity{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0.9;
}
.bn-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.buttons{
    width: 100%;
}
.bar-button{
    color: #fff;
}
.btn-atendimento{
    font-weight: 700;
    color: #000;
    border-radius: 10px;
}
.button-inner{
    font-size: 1.2rem;
}
.button-md{
    background: $primary-color-600 !important;   
}
.btn-aceitar{
    height: 100px;
    padding: 0 20px;
}
.card{
    background: transparent;
}
.card-header{
    text-align: center;
    white-space: normal;
    p{
        font-size: 1.7rem;
    }
}
.card-ios{
    background: transparent
}
.circle{
    border-radius: 50% !important;
}
.content-inside{
    background-color: $secondary-color-500;
    color: #000;
    
}
.content-inside .scroll-content{
    margin-top: 76px !important;
}
.content-md hr{
    background-color: $primary-color-600;
    border: none;
    width: 100%;
    margin-bottom: 30px;
}
.content-inside .card{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}
.content-perfil h2, .content-perfil p{
    color: #000;
}
.content-perfil .row{
    margin-left: 0;
    margin-right: 0;
}
.default-text-color{
    color: $secondary-color-500 !important;
}
.second-text-color{
    color: #000 !important;
}
.default-color{
    background: $secondary-color-500 !important;
}
.eventos-home{
    width: 90px;
    height: 90px;
    padding: 10px;
    color: #000;
    background-blend-mode: screen;

    &.--hoje{
        background-color: #fff;
    }

    &.--amanha{
        background-color: $primary-color-700;
        color: #fff;

        .card-header{
            color: #fff;
        }
    }
    &.--todos{
        background-color: $primary-color-800;
        color: #fff;

        .card-header{
            color: #fff;
        }
    }
}
.eventos-home .card-header{
    font-size: 3rem;
    padding: 0;
    font-weight: 700;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    img{
        width: 20px;
    }
}
.eventos-home .card-content{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
    font-weight: 700;
}
.financeiro-card{
    background-color: #fff;
}
.header:after{
    background-image: none;
}
.financeiro-card .card-content{
    padding-bottom: 10px;
}
.financeiro-card .financeiro-card__icon{
    width: 20px;
    float: left;
    margin-right: 10px;
}
.financeiro-card .financeiro-card__texto{
    color: #000;
    font-size: 1.8rem;
    text-align: right;
}
.financeiro-card span{
    font-weight: 700;
    color: #000;
}
.form-cadastro{
    background: url(../assets/imgs/bg-cadastro.jpg) no-repeat 0 0;
    background-size: cover;
    &.etapa-1{
        background-position: 0 0;
    }
    &.etapa-2{
        animation: animatedBgGoToEtapa2 2s linear;
        background-position: -250px 0;
    }
    &.etapa-3{
        animation: animatedBgGoToEtapa3 2s linear;
        background-position: -460px 0;
    }
    &.etapa-4{
        animation: animatedBgGoToEtapa4 2s linear;
        background-position: -630px 0;
    }
    &.etapa-5{
        animation: animatedBgGoToEtapa5 2s linear;
        background-position: -750px 0;
    }
    &.etapa-5__volta{
        animation: animatedBgBackToEtapa4 2s linear;
        background-position: -630px 0;
    }
    &.etapa-4__volta{
        animation: animatedBgBackToEtapa3 2s linear;
        background-position: -460px 0;
    }
    &.etapa-3__volta{
        animation: animatedBgBackToEtapa2 2s linear;
        background-position: -250px 0;
    }
    &.etapa-2__volta{
        animation: animatedBgBackToEtapa1 2s linear;
        background-position: 0 0;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .buttons__button{
            width: 50%;
            height: 30px;
        }
    }
    .card{
        .card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                color: #000;
            }
            ul{
                li{
                    color: #000;
                    padding-left: 20px;
                    font-size: 1rem;
                    margin-bottom: 5px;
                }
            }
        }

    }
    .form-cadastro__etapa1{
        width: 90%;
        position: absolute;
        top: 30%;
        left: 100%;
        max-width: 90%;
    }
    .form-cadastro__etapa2{
        position: absolute;
        top: 25%;
        left: 100%;
        max-width: 90%;
        width: 90%;
    }
    .form-cadastro__etapa3{
        position: absolute;
        top: 25%;
        left: 100%;
        max-width: 90%;
        width: 90%;
    }
    .form-cadastro__etapa4{
        position: absolute;
        top: 25%;
        left: 100%;
        max-width: 90%;
        width: 90%;
    }
    .form-cadastro__etapa5{
        position: absolute;
        top:5%;
        left: 100%;
        max-width: 90%;
        width: 90%;

        .card{
            height: 80vh;
            overflow: auto;
        }

        .row{
            margin-left: 0;
            margin-right: 0;
        }
        .item{
            color: #000;
            padding-left: 0;

            .item-inner{
                padding-right: 0;

            }
            .input{
                margin-bottom: 0;
            }
        }
    }
    .is-etapa1, .is-etapa2, .is-etapa3, .is-etapa4, .is-etapa5{
        left: 5vw;
        transition: left 2s;
    }
    .was-etapa1, .was-etapa2, .was-etapa3, .was-etapa4, .was-etapa5{
        left: -100%;
        transition: left 2s;
    }
    .back-form5, .back-form4, .back-form3, .back-form2, .back-form1{
        left: 5vw;
        transition: left 2s;
    }
    .go-etapa1, .go-etapa2, .go-etapa3, .go-etapa4, .go-etapa5{
        left: 100%;
        transition: left 2s;
    }
    .is-alt-etapa2{
        top: 10%;
    }

    h1{
        color: #000;
    }
    .item{
        background-color: transparent;
        color: #000;
    
        .item-cover:focus{
            background-color: transparent;
        }
        .radio-icon{
            border-color: #fff;
        }
    }
    .item.item-radio-checked{
        .label{
            color: #f0d264;
        } 
        .radio-icon{
            border-color: #f0d264;
        }
        .radio-inner{
            background-color: #f0d264;
        }
    }
    p{
        color: #000;
    }
} 

.imagem-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #000;
    margin-bottom: 50px;
}
.imagem-perfil__icon{
    position: absolute;
    top: 91px;
    right: 85px;
    border-radius: 50%;
    width: auto;
}
.imagem-perfil__icon .button-md{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.imagem-perfil__image{
    width: 150px;
    height: 150px;
}
.imagem-perfil__title{
    font-weight: 700;
    margin-top: 15px;
}
.input{
    margin-bottom: 20px
}
.item{
    color: #000;
    min-height: 2rem;
    background-color: transparent;
}
.item.item-block .item-inner{
    border-bottom: none;
}
.item-input label{
    color: #fff;
}
.item-input .input{
    margin-bottom: 0;
}
.link-cancelar-atendimento{
    margin: 0;
    text-align: center;
    width: 100%;
    color: #ec7939;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.login-box .midias-sociais{
    display: flex;
    flex-direction: row;
}
.login-box__midias{
    width: 42px;
    height: 42px;
    display: block;
}
.login-box__icon{
    margin-left: 10px;
}
.login-box__inputs{
    width: 100%;
}
.login-box__text{
    color: #a49288;
    margin-bottom: 0;
}
.nota-rodape{
    font-size: 1rem !important;
    margin-top: 10px !important;
}
.notificacao-atendimento{
    background-color: #fff;
    padding: 20px;
    
}
.notificacao-atendimento .notificacao-atendimento__container{
    display: flex;
    align-items: center;
}
.notificacao-atendimento h3{
    font-weight: 700;
    text-align: center;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.options__item{
    width: 75px;
    height: 75px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.disabled{
        filter: grayscale(50);
    }
}
.select{
    border-bottom: 1px solid #000;
}
.select-alert .alert-radio-button:focus, .select-alert .alert-radio-button:hover{
    background-color: #f0d264;
}
.select-md .select-icon .select-icon-inner{
    color: #000;
}
.toolbar{
    text-align: right;
}
.toolbar-content img{
    width: 25%;
}
.toolbar-title{
    color: #000;
}
.toolbar-background{
    border-color: transparent;
    background: transparent;
    box-shadow: 0 0 0 transparent;
}

/*Ajuste do label floating*/
.item-md.item-input.item-input-has-focus .item-inner, 
.item-md.item-input.input-has-focus .item-inner{
    box-shadow: 0 0 transparent;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    box-shadow: 0 0 transparent;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #000;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #000;
    box-shadow: 0 0 transparent;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: #000;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border-bottom: 1px solid #000;
}