//Primary color
$primary-color: #6200ee;
$primary-color-dark: #0400ba;

//Secondary color
$secondary-color: #ffffff;

//Accent color
$accent-color: #ffd600;

//Surface color
$surface-color: #fff;
$surface-error-color: #B00020;

//On color
$on-primary-color: #fff;
$on-secondary-color: #000;
$on-background-color: #fff;
$on-surface-color: #000;
$on-error-color: #fff;
